/* common css */

.text-906{
    color:#90604c;
}

.bg-906{
    background-color: #90604c;
    text-decoration: none;
    border-radius: 0;
    color: white;
    padding: 15px;
}

.bg-906:hover{
    background-color: #90604c;
    text-decoration: none;
    color: white;
}
/* end */



