.fs-14 {
  font-size: 14px;
}

.Giftcard-bg {
  background-color: #f5f5f5;
}

.Giftcard-bg .share a {
  text-decoration: none;
}

.Giftcard-bg .share a:hover {
  text-decoration: underline;
}

.card-btn-price {
  background-color: #90604c;
  text-decoration: none;
  border: 1px solid #a78170;
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
}

.card-btn-price1 {
  color: #90604c;
  text-decoration: none;
  border: 1px solid #a78170;
  padding: 5px 20px;
  border-radius: 20px;
}

.card-btn-price1:hover {
  border: 1px solid #90604c;
}
