/* common css */

.text-906 {
  color: #90604c;
}

.bg-904c {
  background-color: #90604c ;
}

.bg-906 {
  background-color: #90604c;
  text-decoration: none;
  border-radius: 0;
  color: white;
  padding: 15px;
}

.bg-90 {
  background-color: #90604c !important;
  border-radius: 0;
  color: white !important;
  padding: 15px;
}

.bg-906:hover {
  background-color: #90604c;
  text-decoration: none;
  color: white;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.border-906 {
  border: 1px solid #90604c !important;
}

.fs-sand {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.arrow {
  &::after {
    display: inline-block;
    padding-left: 8px;
    content: "\0279C";
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }

  &:hover {
    &::after {
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      -ms-transform: translateX(4px);
      -o-transform: translateX(4px);
      transform: translateX(4px);
    }
  }
}

.Counter h2{
  width: 50px;
}

/* end */



.navbar.hidden {
  transform: translateY(-100%);
}

.search-bar-container {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #333;
  color: white;
}

input {
  width: calc(100% - 20px);
  padding: 5px;
  margin: 5px 0;
}

.search-icon {
  cursor: pointer;
}






/* home page */
/* Blog css start */

.card-img,
.feat-prod-img {
  overflow: hidden;
  cursor: pointer;
  border-radius: 0;
}

.card-img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 215px;
  object-fit: cover;
  transition: 0.7s all ease-out;
  border-radius: 0;
}

.card-date {
  font-size: 12px;
}

.cd a {
  text-decoration: none;
}

.cd a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 3px;
}

.card-img img:hover {
  transform: scale(1.1);
}

/* Blog css end */

/*  Hamper css start */
.img-fluid {
  width: 100%;
}

/* Hamper css end */

/* Testimonial css Start */
.testimonial i {
  color: gold;
  text-align: center;
  margin-bottom: 10px;
}

.testimonial {
  background-color: #f5f5f5;
  border-radius: 10px;
}

@media screen and (max-width: 780px) {
  /* .slick-prev {
    left: -25px !important;
    top: 125px !important;
    background: dimgray !important;
  }
  .slick-next {
    right: -25 !important;
    top: 125px !important;
    background: dimgray !important;
  } */

  .slick-prev::before {
    color: black !important;
  }
  .slick-next::before {
    color: black !important;
  }
}

/* @media screen and (max-width: 440px) {
  .slick-prev {
    left: -10px !important;
    top: 80px !important;
   
  }
  .slick-next {
    right: -10px !important;
    top: 80px !important;
    
  }
} */
/* .testimonial::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(65% - 0px);
    left: calc(16% - 15px);
    transform: rotate(45deg);
    background-color: #f5f5f5;
  }
  
  @media screen and (max-width: 780px) {
    .testimonial::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(68% - 0px);
      left: calc(16% - 15px);
      transform: rotate(45deg);
      background-color: #f5f5f5;
    }
    .slick-prev {
      left: -10px;
      top: 125px;
      background-color: dimgray;
    }
    .slick-next {
      right: -10px;
      top: 125px;
      background-color: dimgray;
    }
  }
  
  @media screen and (max-width: 440px) {
    .testimonial::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(56% - 0px);
      left: calc(16% - 15px);
      transform: rotate(45deg);
      background-color: #f5f5f5;
    }
    .slick-prev {
      left: -10px;
      top: 80px;
      background-color: dimgray;
    }
    .slick-next {
      right: -10px;
      top: 80px;
      background-color: dimgray;
    }
  }
  @media screen and (max-width: 380px) {
    .testimonial::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(50% - 0px);
      left: calc(16% - 15px);
      transform: rotate(45deg);
      background-color: #f5f5f5;
    }
  }
  
  @media screen and (max-width: 330px) {
    .testimonial::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(60% - 0px);
      left: calc(16% - 15px);
      transform: rotate(45deg);
      background-color: #f5f5f5;
    }
  } */

.testimonial .review {
  margin-bottom: 40px;
}

.widget a:hover {
  text-decoration: none;
}

/* Testimonial css end */

/* hero-section css start */

.hero-section1 {
  height: 100%;
}

.hero-section1-img {
  max-width: 100%;
  max-height: 100%;
  height: 472px;
  object-fit: cover;
  width: 100%;
}
/*hero-section css end  */

/* gift card css start */
.fs-14 {
  font-size: 14px;
}

.Giftcard-bg .share a:hover {
  text-decoration: underline !important;
}

.card-btn-price {
  background-color: #90604c;
  text-decoration: none;
  border: 1px solid #a78170;
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
}

.card-btn-price1 {
  color: #90604c;
  text-decoration: none;
  border: 1px solid #a78170;
  padding: 5px 20px;
  border-radius: 20px;
}

.card-btn-price1:hover {
  border: 1px solid #90604c;
}
/* gift card css end */

/* featured css start */

.feat-row {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around;
}

.feat-img {
  width: 200px;
  max-width: 100%;
}

/* @media screen and (max-width: 900px) {
    .feat-img {
      width: 300px;
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 500px){
      .feat-row {
          display: block ;
          
        }
  } */

/* featured css end */

/* carousel start */

.carousel-indicators {
  position: static !important;
}

.carousel-indicators {
  margin: 0 !important;

  button {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 30px !important;
    padding: 0 !important ;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: 0 !important;
    cursor: pointer;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 0;
    border-top: 0 !important;
    border-bottom: 0 !important;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    color: #90604c;

    &.active,
    &:hover {
      color: black !important;
    }
  }
}

/* carousel end */

/* home page end*/

/* join our community start*/

.join_comn_img1 {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-size {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  background-color: #f1f0ef;
}
/* join our community end*/

/* talk therapy start*/

.know_more_column {
  background-color: #f1f0ef;
}

/* talk therapy end*/

/* aboutus start */

.founder-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* aboutus end */

/* blogs section start */

.Blogs .card-img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.7s all ease-out;
  border-radius: 0;
}

/* blogs section end */

/* featured prduct start */

.feat-prod-img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: 0.7s all ease-out;
  border-radius: 0;
}

@media screen and (max-width: 770px) {
  .feat-prod-img img {
    height: 330px;
  }
}

@media screen and (max-width: 480px) {
  .feat-prod-img img {
    height: 200px;
  }
}

.feat-prod-img img:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}
.feat-prod-img:hover img:first-child {
  display: none;
}
.feat-prod-img:hover img:last-child {
  display: inline-block;
}

/* featured prduct end  */
